In [7]:
import pandas as pd
import pickle

In [8]:
df1 = pickle.load(open('df1.pickle', 'rb'))
df1.head()

,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,cardverificationcodesupplied,cvcresponsecode,creationdate_timestamp,accountcode,mail_id,ip_id,card_id,label,creationdate
12432,MX,mccredit,548234.0,199900.0,MXN,MX,Ecommerce,True,0,1.443732e+09,MexicoAccount,260034,61718,112439,0,2015-10-1
196263,GB,visadebit,454313.0,3595.0,GBP,GB,Ecommerce,True,1,1.443722e+09,UKAccount,78724,268762,102920,0,2015-10-1
196262,GB,visadebit,492181.0,6345.0,GBP,GB,Ecommerce,True,1,1.443722e+09,UKAccount,126966,242163,77983,0,2015-10-1
196261,GB,mccredit,558717.0,2695.0,GBP,GB,Ecommerce,NaN,1,1.443722e+09,UKAccount,156856,268684,225284,0,2015-10-1
196260,GB,mccredit,522948.0,1840.0,GBP,GB,Ecommerce,True,1,1.443722e+09,UKAccount,306524,315633,214868,0,2015-10-1

In [9]:
x = []#contains features
y = []#contains labels
data = []
color = []
(issuercountry_set, txvariantcode_set, currencycode_set, shoppercountry_set, interaction_set,
verification_set, accountcode_set, mail_id_set, ip_id_set, card_id_set) = [set() for _ in xrange(10)]
(issuercountry_dict, txvariantcode_dict, currencycode_dict, shoppercountry_dict, interaction_dict,
verification_dict, accountcode_dict, mail_id_dict, ip_id_dict, card_id_dict) = [{} for _ in xrange(10)]

In [12]:
issuercountry_set = df_fraud['issuercountrycode'].unique()
txvariantcode_set = df_fraud['txvariantcode'].unique()
currencycode_set = df_fraud['currencycode'].unique()
shoppercountry_set = df_fraud['shoppercountrycode'].unique()

array(['MX', 'GB', 'BH', 'TH', 'AU', 'SA', 'KR', 'NZ', 'NO', 'US', 'TW',
       'CN', 'AE', 'HK', 'JO', 'NL', 'LB', 'SE', 'IT', 'VN', 'RO', 'SG',
       nan, 'PH', 'FI', 'BG', 'PT', 'QA', 'KW', 'CA', 'NG', 'DZ', 'IE',
       'MO', 'LU', 'EG', 'DE', 'CH', 'IN', 'PK', 'FR', 'TR', 'IL', 'DK',
       'BR', 'AR', 'PR', 'ES', 'ID', 'RU', 'CY', 'IS', 'OM', 'CO', 'MY',
       'UA', 'JP', 'EE', 'CK', 'UY', 'KZ', 'ZA', 'GH', 'BW', 'LV', 'VE',
       'PL', 'ZW', 'GE', 'LK', 'GR', 'AT', 'MT', 'HN', 'SB', 'TM', 'ZM',
       'SI', 'AL', 'PE', 'CL', 'LT', 'MN', 'EC', 'BO', 'AZ', 'KE', 'AD',
       'GT', 'AO', 'BZ', 'KH', 'SK', 'BE', 'LY', 'GI', 'SV', 'ME', 'CZ',
       'TT', 'VG', 'AI', 'MK', 'HU', 'BN', 'PY', 'TZ', 'RS', 'BM', 'PA',
       'ZZ', 'BA', 'DO', 'MU', 'JM', 'HR', 'BS', 'MD', 'SL', 'LA', 'IQ',
       'CV', 'CR', 'FJ', 'BY', 'TJ', 'BB', 'BF', 'BD', 'CG', 'CW', 'KY',
       'AM', 'MV', 'CM', 'CD', 'BJ'], dtype=object)